@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body { 
    width: 100%;
    background: #E5E7EB;
    position: relative;
    display: flex;
}

#menu {
    background: rgb(38, 63, 42);
    width: 18vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#menu .navLogo img{ 
    width: 250px;
    margin-right: 25px;
}

#menu .navLogo {
    display: flex;
    align-items: center;
    color: white;
    padding: 2vh 0 0 2vw;
}

#menu .menuItems { 
    margin-top: 50px;
}

#menu .menuItems li{ 
    list-style: none;
    padding: 3vh 0;
    padding-left: 1.5vw;
    transition: 0.3s ease;
}

#menu .menuItems li:hover{ 
    background: rgb(61, 100, 67);
    cursor: pointer;
    /* border-left: 5px solid rgb(255, 255, 255);
    transition: 0.5s; */
}

#menu .menuItems li:nth-child(1){ 
    border-left: 5px solid rgb(255, 255, 255);
    /* transition: 0.5s; */
}

#menu .menuItems li i{ 
    color: rgb(135, 135, 135);
    width: 30px;
    height: 20px;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
    margin: 0 10px 0 25px;
}

#menu .menuItems li:hover i,
#menu .menuItems li:hover a {
    color: rgb(255, 255, 255);
    /* transition: 0.5s; */
}

#menu .menuItems li a {
    text-decoration: none;
    color: rgb(230, 230, 230);
    padding-left: 1vw;
    font-weight: 500px;
    transition: 0.3s ease;
}

#interface {
    width: calc(100% - 300px);
    margin-left: 18vw;
    position: relative;
}

#interface .navBar { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 15px 40px;
    border-bottom: 4px solid rgb(142, 106, 185);
}

#interface .navBar .search { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 4px;
}

#interface .navBar .search i { 
    margin-right: 10px;
}

#interface .navBar .search input{ 
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
}

#interface .navBar .profile { 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0;
}


#interface .navBar .profile img{ 
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.iName { 
    color: rgb(49, 33, 68); 
    padding: 30px 30px 0 30px; 
    font-size: 24px; 
    font-weight: 700;
}

.values { 
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.values .valBox { 
    background-color: white;
    width: 350px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.values .valBox i { 
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: white;
    margin-right: 15px;
}

.values .valBox:nth-child(1) i { 
    background: #7B74EC;
}
.values .valBox:nth-child(2) i { 
    background: #9674ec;
}
.values .valBox:nth-child(3) i { 
    background: #5ccdb3;
}
.values .valBox:nth-child(4) i { 
    background: #ec7474;
}

.values .valBox h3 { 
    font-size: 23px;
    font-weight: 600;
}

.values .valBox span { 
    font-size: 23px;
    color: rgb(140, 139, 139);
}

.userContainer { 
    width: 96.2%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background: white;
    border-radius: 8px;
}

.userContainer h5 { 
    font-weight: 600;
    font-size: 25px;
}

.userContainer p { 
    font-weight: 400;
    font-size: 25px;
    color: #50525b;
}

.userContainer .userName { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

table { 
    border-collapse: collapse;
}

tr { 
    border-bottom: 1px solid #dfe1e4;
}

thead td {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    background: #f9faf8;
    text-align: start;
    padding: 15px;
}

tbody tr td{ 
    padding: 10px 15px;
}

.actions a { 
    text-decoration: none;
    font-size: 20px;
    color: #7B74EC;
    font-weight: 600;
}