body{
    margin: 0;
    padding: 0;
    background-color: #ddd;
    align-items: center;
    justify-content: center;
}

*{
    box-sizing: border-box;
}

.profileContainer{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
}

.leftBox{
    flex: 30%;
    display: table;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: #0d1425;
    color: #fff;
    padding: 30px 30px;
    border-radius: 20px;
}

.leftBox img{
    border-radius: 50%;
    border: 2px solid #fff;
    height: 350px;
    width: 350px;
}

.details{
    margin-left: 20px;
    flex: 50%;
    display: table;
    padding: 30px 30px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 20px;
}

.details h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 50px;
    font-weight: 500;
}

.details ul li{
    list-style: none;
}

.details ul{
    margin-top: 20px;
}

.editButton, .logoutButton, .deleteButton{
    display: inline-block;
    padding: 2vh 1vw;
    font-size: 1vw;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #0d1425;
    border: none;
    border-radius: 1em;
    position: relative;
}

.buttonRow {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    right: 3vw;
    bottom: 3vh;
    gap: 1vw;
    padding: 10px;
}

.editButton:hover, .logoutButton:hover, .deleteButton:hover { 
    background-color: #192c60;
    transition: background-color 0.4s ease;
}

.editButton:active, .logoutButton:active, .deleteButton:active { 
    background-color: #192c60;
    box-shadow: 0 0.1em rgb(169, 169, 169);
    transform: translateY(0.2em);
}

.editButton span, .logoutButton span, .deleteButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.editButton span:after, .logoutButton span:after, .deleteButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.editButton:hover span, .logoutButton:hover span, .deleteButton:hover span {
    padding-right: 35px;
}
  
.editButton:hover span:after, .logoutButton:hover span:after, .deleteButton:hover span:after {
    opacity: 1;
    right: 0;
}

@media screen and (max-width: 1068px) {
    .profileContainer{
        display: table;
    }

    .leftBox{
        width: 100%;
    }

    .details{
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }

    .details h1{
        text-align: center;
    }
}