body { 
    margin: 0;
    padding: 0;
    background-color: #F3F3F3;
}

.signupContainer {
    background-color: #fff;
    padding: 10vh 5vw 10vh 5vw;
    margin: 6vh 27vw 3vh 27vw;
    border-radius: 16px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.5vw;
    overflow: auto;
}

.inputs {
    position: relative;
    flex: 1;
    margin: 0 1%;
    box-sizing: border-box;
    margin-bottom: 1vh;
    width: 45%;
}

label {
    display: block;
    margin-bottom: 0.5vh;
}

.signUpInput {
    align-items: center; 
    /* width: calc(100% - 16px); */
    width: 90%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 16px; 
    margin-top: 0.5vh;
    margin-bottom: 0;
    background-color: #e5e5e5;
}

.createAccButton {
    padding: 1.5vh 2vw;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #e5e5e5;
    color: black;
    border: none;
    border-radius: 16px; 
    font-size: 1vw;
    text-decoration: none;
}

.createAccButton:active { 
    background-color: rgb(192, 192, 192);
}

.inputRow { 
    display: flex;
    justify-content: space-between;
    margin-bottom: 7vh;
}

form { 
    width: 100%;
}

.error { 
    color: red;
    position: relative;
    margin-top: -100px;
    font-size: 1vw; 
}

.input { 
    margin-bottom: 10px;
}

#signup { 
    font-size: 1vw;
    color: green;
}

@media (max-width: 768px) {
    .signupContainer .inputRow {
        flex-direction: column;
    }

    .signupContainer .inputs {
        margin-bottom: 10px;
    }
} 